*{
    box-sizing: border-box;
}

h1 {
    padding-bottom: 15px;

    font-size: large;
    font-weight: bold;
    color: black;
}





.contacts {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column
}

.contacts-box {
    display: flex;
    border: 1px solid rgb(155, 155, 155);
    position: relative;
    width: 600px;
    height: 500px;
}

.contacts-list-box {
    flex: 1 1 0%;
    border-right: 1px solid rgb(155, 155, 155);
    display: flex;
    flex-direction: column;
}

.list-contact-unclicked {
    display: flex;
    background-color: inherit;
    color: black;
}

.list-contact-clicked {
    display: flex;
    background-color: rgb(40, 173, 250);
    color: white;
}

.list-contact-button {
    flex: 1 1 0%;
    height: 80px;
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-bottom-style: solid;
    border-bottom-color: rgb(212, 211, 211);
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 20px;
    z-index: 0;
    background-color: transparent;
    color: inherit;
}

.contact-name, .contact-number {
    padding: 5px;
}

.search-contacts {
    background-color: rgb(248, 248, 248);
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgb(155, 155, 155);
}

.contacts-list {
    flex: 1 1 0%;
    overflow-y: auto;
}

.search {
    flex: 1 1 0%;
    font-size: medium;
    padding: 10px;
    outline-color: rgb(40, 173, 250);
}

.contact-box {
    flex: 1 1 0%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

dt {
    font-weight: bold;
    padding: 5px;
}

dd {
    padding: 5px;
}

button {
    cursor: pointer;
}

.contact-button {
    position: absolute;
    border: none;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.contact-button:disabled {
    cursor: not-allowed;
    background-color: rgb(182, 182, 182);
}

.add-contact {
    bottom: 10px;
    right: 65px;
    background-color: rgb(40, 173, 250);
}

.delete-contact {
    bottom: 10px;
    right: 10px;
    background-color: rgb(201, 110, 50);
}






.enroll-contact-box {
    display: flex;
    border: 1px solid rgb(155, 155, 155);
    position: relative;
    width: 600px;
    height: 500px;
}

.enroll-contact {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.enroll-contact h1 {
    font-weight: normal;
}

.info-box {
    display: flex;
    flex-direction: column;
}

.info-title {
    display: block;
    padding: 10px;
    font-weight: bold;
}

.info-value {
    outline-color: rgb(40, 173, 250);
    font-size: medium;
}

.enroll-button-box {
    margin-top: 20px;
}

.enroll-ok {
    background: rgb(40, 173, 250);
    color: white;
    font-size: 1em;
    margin: 1em;
    padding: 0.25em 1em;
    border: 2px solid rgb(40, 173, 250);
    border-radius: 3px;
}

.enroll-cancel {
    background: white;
    color: rgb(40, 173, 250);
    font-size: 1em;
    margin: 1em;
    padding: 0.25em 1em;
    border: 2px solid rgb(40, 173, 250);
    border-radius: 3px;
}